root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{ts,d.ts}]
indent_size = 4

[public/assets/fonts/B612-OFL.txt]
end_of_line = crlf
trim_trailing_whitespace = false
